<div class="container">

    <div class="row">
      <header "col-md-12">
        <h1 id="header_title" class="muted">FamJam</h1>
        <p id="byline" class="muted">Family organization, made easy.</p>
      </header><!-- /header -->
    </div>

    <div class="row">

      <div class="user col-md-3 col-lg-3">
        <h2><%= @current_user.first_name %></h2>
        <img id="user_image" src="https://www.fillmurray.com/150/150" alt="Picture of Bill Murray">
        <ul>
          <!-- <li class="btn btn-success btn-sm"><a href="#">Family Tasks</a></li>
          <li class="btn btn-success btn-sm"><a href="#">My Tasks</a></li>
          <li class="btn btn-success btn-sm"><a href="#">Settings</a></li> -->
          <li class="btn btn-success btn-sm"><a href="/logout">Logout</a></li>
        </ul>
      </div>


      <table class="table-hover col-md-9 col-lg-9">
        <caption>Your Tasks</caption>
        <thead>
          <tr>
            <th>Task</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <% @current_user.tasks.each do | task | %>
            <tr>
              <td><%= render 'edit_task', :task => task %></td>
              <td><%= render 'edit_desc', :task => task %></td>
              <td><%= link_to 'Delete', task_path(task), method: :delete, data: {confirm: 'Are you sure?'} %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= link_to 'Add a Task!', tasks_new_path %>

    </div>

  </div>
